body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    color: black;
}
#hi{
    padding-top: 20%;
}
.bgMorning{
    background: url("imgs/imorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}.bgNight{
    background: url("imgs/night.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
